.bgheader {
  display: block;
  background-image: url("../img/image-header.jpg");
  background-position-y: 60%;
  background-position-x: 50%;
  background-size: 1380px;
}

img {
  width: 100%;
  height: 100%;
}

.papersize {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: block;
  width: 100%;
  height: 100%;
}

.con {
  display: block;
  margin-left: 20%;
  margin-right: 25%;
  margin-top: 30%;
}

.bgcherry {
  background-image: url("../img/image-graphic-design.jpg");
  width: 100%;
  height: 100%;
  background-size: 100%;
}
.bgorang {
  background-image: url("../img/image-photography.jpg");
  width: 100%;
  height: 100%;
  background-size: 100%;
}

.sec3 {
    display: block;
    text-align: center;
  }

.position{
    margin-top: 50;
}

.procen{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.bgfoot{
  background-color: #87d5c6;
  height: 400px;
}

.cenn{
  display: block;
  margin-left: auto;
  margin-right: auto;
}